test/test_service/src/main/resources/xsd/person.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="person1">
  <xs:complexType>
  	<xs:attribute name="id" type="xs:string" use="required" />
  	<xs:attribute name="name" type="xs:string"></xs:attribute>
  	<xs:attribute name="country" type="xs:string"></xs:attribute>
  </xs:complexType>
</xs:element>

</xs:schema>